* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.navbar {
    color: #F5F7F9;
    height: 80px;
    background-color: #043364;
    /* position: relative; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
 
}

.icon {
    position: absolute;
    left: 10px;
    color: #F5F7F9;
    font-size: 50px;
}

.links {
    color: #F5F7F9;
}

.links ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.links ul li {
    margin: 5px;
    list-style: none;
}

.links ul li a {
    list-style: none;
    text-decoration: none;
    color: #F5F7F9;
    font-size: 22px;
}

.links ul li a:hover {
    /* transition: all 0.3s; */
    text-shadow: 2px 2px 3px white;
    text-decoration: 3px underline white;

}

.navbar div button {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: transparent;
    color: #F5F7F9;
    font-size: 22px;
    font-weight: 400px;
    margin-top: 5px;
    cursor: pointer;

}

.navbar div button:hover {
    box-shadow: 1px 1px 3px 5px white;
    transition: all 0.3s;
}

.title h1 {
    text-transform: uppercase;

}

.title p {
    margin-top: 2px;
}

.hero {
    margin: 0px;
    width: 100%;
    height: fit-content;
    min-height: 375px;
    border: 2px solid transparent;
    display: flex;
    position: relative;
    background-image: url(01_hero_bank_building_phone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero .para1 {
    position: absolute;
    top: 80px;
    left: 100px;
}

.hero div p {
    word-spacing: 5px;
    line-height: 8px;
    position: absolute;
    left: 100px;
    top: 160px;
    font-weight: bolder;
    z-index: 2;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    line-height: 30px;
    word-spacing: 2px;
}


.hero .login {
    width: 300px;
    position: absolute;
    bottom: 60px;
    left: 300px;
    z-index: 4;
    margin-left: 30px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 30px;
    border: 1px solid #0174FD;
    background-color: #0174FD;
    color: #F5F7F9;
    font-size: 18px;
    font-weight: 400px;
    margin-top: 25px;
    cursor: pointer;
}
.hero .login:hover{
    box-shadow: 1px 1px 3px 4px white;
    font-size: 22px;
    font-weight: 900;
}

.hero .create-account {
    width: 300px;
    position: absolute;
    bottom: 60px;
    left: 20px;
    z-index: 6;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 30px;
    border: 1px solid #0174FD;
    background-color: #0174FD;
    color: #F5F7F9;
    font-size: 18px;
    font-weight: 400px;
    margin-top: 5px;
    cursor: pointer;
}
.hero .create-account:hover{
    box-shadow: 1px 1px 3px 5px white;
    font-size:22px;
    font-weight: 700;
}

.hero button arrow {
    color: white;
    font-size: 22px;
    font-weight: 400px;
}

.features {
    margin-top: 12px;
    
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 150px;
   
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    gap: 25px;
    align-items: center;
    justify-items: center;

}

 .inside-features{
           background-color: #d8f6ff; 
         border: 1px solid white;
         text-align: center;
    padding-left: 10px;
    padding-top: 15px;
}

.secure {
    font-size: 70px;
    color: #0174FD;
   
}

.bolt {
    color: purple;
    font-size: 70px;
}

.mobile {
    color: green;
    font-size: 70px;
}

.headset {
    color: orange;
    font-size: 70px;
}

.para2 {
    color: #2378FE;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
}

.features .heading1 {
    color: #03285D;
    font-size: 45px;
    font-weight: 700;
}

.features h6 {
    
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.features p {
    padding: 5px;
    color: #2378FE;
    font-weight: 500;
    font-size: 25px;
     margin-bottom: 15px;
}
.our-service{
    margin-top: 20px;
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: repeat(3,auto);
    gap: 25px;
    align-items: center;
    justify-items: center;
    position: relative;
}

.our-service .service h6{
        margin-bottom: 10px;
        color: #0756f2;
        font-size: 20px;
        font-weight: 300;
        padding-left: 10px;
}
.our-service .service h4{
    color: #053b86;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
     padding-left: 10px;

}
.our-service .service p{
    color: #5182f4;
    font-size: 20px;
    font-weight: 400;
     padding-left: 10px;
}
.cards{
    width: auto;
    height: 240px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid lavender;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
    box-shadow: 1px 1px 3px 6px gray;
     transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.cards:hover{
  box-shadow: 0 20px 30px rgba(37, 99, 235, 0.4);

    transform: translateY(-10px) scale(1.05);
  
}

.person{
    padding-top: 10px;
    color: #2174e7;
    font-size: 50px;
}
.debit{
    color: rgb(33, 205, 33);
    font-size: 50px;
     padding-top: 10px;
}
.coins{
    color: rgb(202, 38, 202);
    font-size: 50px;
     padding-top: 10px;
}
.loans{
    color: orangered;
    font-size: 50px;
     padding-top: 10px;
}
.house{
    color: lightgreen;
    font-size: 50px;
     padding-top: 10px;
}
.heart{
    color: rgb(207, 29, 29);
    font-size: 50px;
     padding-top: 10px;
   
}
.cards h4{
    font-size: 35px;
    color:rgb(109, 14, 176);
    margin-top:15px;
    margin-bottom: 15px;
    
}
.cards p{
   color: #5182f4;
    font-size: 15px;
 font-weight: 400;
}
.above h4{
    text-align: center;
    color: indigo;
    font-size: 25px;
    font-weight: bolder;
    word-spacing: 5px;
    margin: 10px;
    
}
.about{
    padding-top: 12px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto;
    background-color: #F3F8FE;
    align-items: center;
    justify-items: center;
}
.about div h5{
    color: #1667FD;
    font-size: 15px;
    font-weight: 500;
    
}
.about div h3{
    color: rgb(39, 1, 66);
    font-size: 18px;
    font-weight: 900;
    padding-top: 10px;
}
.about div p{
    color: #849DB6;
    padding-top:  8px;
}
.about ul li{
  
    font-size: 18px;
    font-weight: 600;
    list-style: none;
}
.about ul li h6{
    color: #516A98;
    font-size: 20px;
}
.impact{
    background-color: #063261;
    margin: 10px;
}

.title_impact p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 2px;
    word-spacing: 5px;
}
.title_impact h6{
            color: #8FABC8;
            font-size: 15px;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 10px;
}
.impact_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
}
.impact_card div{
    height: 300px;
    width: 300px;
    border: 2px solid white;
    border-radius: 50px;
    text-align: center;
    padding: 100px;
    color: white;
}
.users{
    font-size: 25px;
    color: white;
    font-weight: bold;
    padding-bottom: 12px;
}
.build{
      font-size: 25px;
    color: white;
    font-weight: bold;
    padding-bottom: 12px;
}
.half{
      font-size: 25px;
    color: greenyellow;
    font-weight: bold;
    padding-bottom: 12px;
}
.star{
      font-size: 25px;
    color: yellow;
    font-weight: bold;
    padding-bottom: 12px;
}
.impact_card div h4{
    font-size: 28px;
    padding: 15px;
    word-spacing: 5px;

}
.last{
    margin-bottom: 10px;
}

.review .review_title p{
            color:#6395FD;
            font-size: 18px;
            word-spacing: 8px;
            line-height: 25px;
            font-weight: 400;
}
.review .review_title h4{
        color: #062D80;
        font-size: 30px;
        font-weight: 900;
        word-spacing: 5px;
}
.review .review_cards_parents{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
   
}
.review .review_cards{
    border: 2px solid black;
    position: relative;
   
}
.review .review_cards p{
    position: absolute;
}
.footer{
    background-color: #073160;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-items: center;
    align-items: center;
    gap: 30px;
    position: relative;
}
.footer div h3{
    color: #F5F9FE;
    padding-bottom: 5px;
    font-weight: 800;
    
}
.footer div p{
    color: white;
}
.footer div h5{
    color: white;
    padding: 12px;
    text-align: center;
    font-weight: 600;
}
.footer div ul li{
    list-style: none;
     margin: 10px;
}
.footer div ul li a{
    list-style: none;
    color: white;
    text-decoration: none;
}
.footer div ul li a h6{
    font-size: 15px;
    font-weight: 900;
}
