*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    color: #F5F7F9;;
   height: 80px;
    background-color: #043364;
    position: relative;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
}
.icon{
    position: absolute;
    left: 10px;
    color: #F5F7F9;
   font-size: 50px;
}

.links{
    color: #F5F7F9;
}
.links ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.links ul li{
    margin: 5px;
    list-style: none;
}
.links ul li a{
    list-style: none;
    text-decoration: none;
    color: #F5F7F9;
    font-size: 22px;
}
.links ul li a:hover{
      transition: all  0.3s;
      text-decoration: 3px underline white;
}
.navbar div button{
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: transparent;
    color:#F5F7F9;
    font-size: 22px;
    font-weight: 400px;
    margin-top: 5px;
    cursor: pointer;
    
}
.navbar div button:hover{
    box-shadow: 5px 5px 10px 2px white;
    transition: all  0.3s;
}
.title h1{
    text-transform: uppercase;
  
}
.title p{
    margin-top: 2px;  
}
.hero{
  
    width: 100%;
    min-height:375px;
    background-image: url(01_hero_bank_building_phone.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-size: 30px;
    color:#123B66;
  position: relative;  
  border: 2px solid transparent;
}
.hero p{
    position: absolute;
    top: 45px;
    left: 10px;
    font-weight: 600;
}
.hero h2{
        position: absolute;
        top: 100px;
        left: 15px;
        font-weight: 700;
}

.span{
    color: #1769E0
}